layout {

    focus-ring {
        active-color   "#5ec322"
        inactive-color "#e2f5d6"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#5ec322"
        inactive-color "#e2f5d6"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#cad5c370"
    }

    tab-indicator {
        active-color   "#5ec322"
        inactive-color "#c5e6b2"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#5ec32280"
    }
}

recent-windows {
    highlight {
        active-color "#5ec322"
        urgent-color "#fd4663"
    }
}
