layout {

    focus-ring {
        active-color   "#f26659"
        inactive-color "#291614"
        urgent-color   "#a7540c"
    }

    border {
        active-color   "#f26659"
        inactive-color "#291614"
        urgent-color   "#a7540c"
    }

    shadow {
        color "#29161470"
    }

    tab-indicator {
        active-color   "#f26659"
        inactive-color "#980d00"
        urgent-color   "#a7540c"
    }

    insert-hint {
        color "#f2665980"
    }
}

recent-windows {
    highlight {
        active-color "#f26659"
        urgent-color "#a7540c"
    }
}
